.award {
    font-family: Merienda;
}
.rate {
    text-align: center;
}
h2 {
    text-align: center;
}
.edit {
    text-align: center;
}
.site {
    text-align: center;
}
.date {
    text-align: right;
}
.profile {
    text-align: center;
}
.rate_form {
    background-color: black;
    color: white;
}

.profile_page {
    background-color: white;
}
.index {
    background-color: beige;
}
.details {
    background-color: beige;
}
.header {
    color: darkgoldenrod;
}
