{%extends "base.html"%}

{% block content %}
{{block.super}}
<div class="container-fluid index">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <img src="{{project.project_image.url}}" class="img-responsive" alt="">
                <div class="panel-footer" style="background-color: white;">
                    <div><strong><em>{{project.title}}</em></strong></div>
                    <p>By <strong><em>{{project.user}}</em></strong></p>
                    <div class="date"><p><strong><em>{{project.date|date:"l d F Y, H:i"}}</em></strong></p></div>
                    <hr>
                    <div><a href="{{project.link}}"><button class="btn btn-success">Visit site</button></a></div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-body rate">
                            <a href="{%url 'project' project.id%}" style="color: black;">Rate Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No projects posted yet</h2>
    </div>
    {% endfor %}    
</div>


{% endblock %}